{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
        <br/>
        <div class="card bg-light instructions">
                <p>
                    The screen will inform you privately at the end of how many puzzles you have finished.
                    This number will not be known to anyone in the room, including the experimenter.
                    (It will be used later for statistical purposes).
                </p>
        </div>

        </div>
    
    {% next_button %}

{% endblock %}