{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
        <br/>
        <div class="card bg-light instructions">
            <p>
            Before you collect your participation fee, <span style="font-weight:bold; font-style: italic">there is one last task. </span>> 
            You have an opportunity <span style="font-weight:bold; font-style: italic">to sell</span> the Sudoku puzzle book at a price that depends on your willingness to accept. </p>
            <p>Here is the rule: If the price that you specify is lower than or equal to a “fixed price” set by the experimenter, but unknown to you, the experimenter will buy it at the “fixed price.”</p> 
            <p>Otherwise, if you specify a price that is higher than the “fixed price,” you will keep the book.  
            That is, if you end up selling the book, you will sell it at the “fixed price” that is higher than the one you specify below.</p>
            <p>Note, you could not change the price once you type it in the slot below and click “Next". </p>
            <p>Please specify and click "Next”:</p>
            {% formfield player.price_toSell label="My willingness-to-accept the sale of the Sudoku puzzle book ILS:" %}
        </div>
        {% next_button %}
        </div>

    

{% endblock %}