{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
        <br/>
        <div class="card bg-light instructions">
                <p>
                For taking part in today’s session to the end, you will earn 45 New Shekel. 
                As you entered, you were handed a Sudoku puzzle book. 
                While this is ours to keep, we want you to sample it.  
                </p>
                <p>Under no circumstance you are allowed to write anything on the Sudoku puzzle book during the session.</p>
        </div>
        {% next_button %}
        </div>

    

{% endblock %}