{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
        <br/>
        <div dir="rtl" class="card bg-light instructions">
            <!-- <p>
            For taking part in today’s session to the end, you will earn 30 New Shekel and the Sudoku puzzle book that was handed to you when you entered.
            The Sudoku puzzle book is CERTAINLY yours to take home--again, if you stay to the end of the session.  
            </p>
            <p>Under no circumstance you are allowed to write anything on the Sudoku puzzle book during the session.</p> -->
            <p dir="rtl">על ההשתתפות במפגש של היום תקבל 65 ₪. כאשר נכנסת קיבלת ספר חידות סודוקו  ספר זה הוא  </p>
            <p dir="rtl">שלנו, אבל אנו רוצים שתסתכל עליו .</p>
            <p dir="rtl">לא תוכל לכתוב דבר בספר במהלך המפגש.</p>
        </div>
        {% next_button %}
        </div>

    

{% endblock %}