{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
        <br/>
        <div class="card bg-light instructions">
                <p>
                   Before you collect your participation fee, there is one last task.
                    You have an opportunity to buy the Sudoku puzzle book at a price you specify.
                    Here is the rule: If the price that you specify is higher than or equal to a “fixed price” set by the experimenter,
                    but unknown to you, the experimenter will sell it at the “fixed price.”
                    Otherwise, if you specify a price that is lower than the “fixed price,” you cannot buy the book.
                    Note, you could not change the price once you type it in the slot at the bottom and click “enter.”
                    Please specify:
                </p>
            {% formfield player.price_toBuy label="My willingness-to-buy the Sudoku puzzle book $:" %}
        </div>

        </div>

    {% next_button %}

{% endblock %}