{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<script type='text/javascript' src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        td:first-child {
                border-left:solid;
            }
            td:nth-child(2n) {
                border-right:solid ;
            }
            tr:first-child td {
                 border-top:solid;
            }
            tr:nth-child(2n) td {
                border-bottom:solid ;
            }

            td{
                text-align: center;
                margin-left: 3px;
                height: 45px;
                width: 45px;
                font-size: 30px;
                font-weight: bold;
            }

            input{
                border: darkgray;
                text-align: center;
                margin-left: 3px;
                height: 45px;
                width: 45px;
                font-size: 30px;
                font-weight: bold;
            }
            table{
                width: 250px;
                height: 250px;
            }

            #holder {
                position: relative;
                padding-top: 200px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .container{
                padding-top:40px;
            }


    </style>
        <div class="container">
                <div dir="rtl" class="card bg-light instructions">
                        <!-- <p>Try this example first.  You see below 4x4cells. 
                        You need to place digits 1,2,3,4 in each 2x2 cell. 
                        The rules are that each digit can appear only once</p> -->
                        <p dir="auto"> למטה מופיעים 4 על 4 תאים . משימתך היא להוסיף את הספרות 1,2,3,4 בכל רשת של 2 על 2. החוקים הם שכל ספרה יכולה להופיע רק פעם אחת </p>
                        <!-- <ul>
                            <li>in each 2x2 cell.</li>
                            <li>in each row of four cells.</li>
                            <li>in each column of four cells.</li>
                        </ul>  -->
                        <ol  style="list-style-type: hebrew; direction: rtl">
                            <li dir="rtl">בכל רשת של 2 על 2 תאים, </li>
                            <li dir="rtl">בכל שורה של ארבעה תאים </li>
                            <li dir="rtl">בכל טור של ארבע תאים.</li>
                        </ol>
                </div>
            <br/>
            <h5 dir="rtl" align="center" id="label">נסה את הדוגמא הזאת קודם</h5>
            <br>
        <table dir="ltr" class="sd" border="1" align="center" cellspacing="1">
            <tr>
                <td id="r0c0"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r0c1"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r0c2"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r0c3"><input class="sudoku" type="text" maxlength="1"></td>
             </tr>
            <tr>
                <td id="r1c0"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r1c1"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r1c2"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r1c3"><input class="sudoku" type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td id="r2c0"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r2c1"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r2c2"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r2c3"><input class="sudoku" type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td id="r3c0"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r3c1"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r3c2"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r3c3"><input class="sudoku" type="text" maxlength="1"></td>
            </tr>
        </table>
        <br>
        <div align="center" >
            <button type="button" id="check">בדוק</button><span>&nbsp</span>
            <button type="button" id="next">ננסה עוד דוגמא </button><span>&nbsp</span>
            <button type="button" id="answer">הראה תשובה</button>
        </div>
            <br>
            <div style="display: none;" id="button"  align="center" >
                {% next_button %}
            </div>
            <div style="display: none;">
                {{ form.first_demo }}
                {{ form.first_demo_time }}
                {{ form.second_demo }}
                {{ form.second_demo_time }}
                {{ form.demo1_button_sequence }}
                {{ form.demo2_button_sequence }}
            </div>
        </div>

<script>
            $(document).ready(function() {
                $('#next').attr("disabled", true);
                var number = 1;
                var game1 = [[3,0,2,0],[0,2,0,0],[0,0,1,0],[0,1,0,4]];
                var answer1 = [[3,4,2,1],[1,2,4,3],[4,3,1,2],[2,1,3,4]];
                var game2 = [[1,4,0,0],[0,2,0,0],[0,0,2,1],[0,0,4,0]];
                var answer2 = [[1,4,3,2],[3,2,1,4],[4,3,2,1],[2,1,4,3]];
                var clicked = "";
                var startTime1 = new Date();
                var startTime2 = new Date();
                
                
                buildGame(game1);

                //function to transform each game(list fomr) to a two dimensonal array
                function generateGameData(list){
                    tdArray = [];
                    for (var i = 0; i<4; i++){
                        tdArray.push(list.slice(4*i,4*(i+1)));
                    };
                    return tdArray;
                }


                //function to populate the game board with data
                function buildGame(game){
                    for (var r = 0; r<4; r++){
                        for (var c = 0; c <4; c++){
                            let cellid = "#r" + r +"c" +c;
                            $(cellid).html('<input class="sudoku" maxlength="1">')
                            if (game[r][c] != ""){
                                $(cellid).html(game[r][c])
                            }
                        }
                    }
                }

                $("#check").click(function(){
                    $('#next').attr("disabled", false);
                    let userBoard = loadUserBoard();
                    if (number === 1){
                        let endTime1 = new Date();
                        let demoTime1 = Math.round((endTime1 - startTime1)/1000);
                        if (clicked === ""){
                        clicked = "check";
                        $('#id_demo1_button_sequence').val("Attempt First")
                        check(userBoard)? $('#id_first_demo').val("Correct") : $('#id_first_demo').val("Wrong")
                        $('#id_first_demo_time').val(demoTime1);
                        }
                        

                    }
                    if (number === 2){
                        let endTime2 = new Date();
                        let demoTime2 = Math.round((endTime2 - startTime2)/1000);
                        if (clicked === ""){
                        clicked = "check";
                        $('#id_demo2_button_sequence').val("Attempt First")
                        check(userBoard)? $('#id_second_demo').val("Correct") : $('#id_second_demo').val("Wrong")
                        $('#id_second_demo_time').val(demoTime2);                        
                        }
                        
                    }
                });

                function check(board) {
                    if(validateInput(board)){
                        if (sudokuChecker(board)){
                           // alert("It is Correct!")                            
                           alert("נכון!");
                           return true;
                        }
                        else {
                            //alert("It is not correct!")     
                            alert("לא נכון");                       
                            return false;
                        }
                    }
                    else{
                        //alert("It is not correct!")                        
                        alert("לא נכון");
                        return false; 
                    }
                };

                $("#next").click(function (){
                    $("#next").hide();
                    buildGame(game2);
                    $('#label').html("ננסה עוד דוגמא")
                    $('#button').css("display", 'block');
                    number = 2;
                    clicked = "";
                    startTime2 = new Date();
                });


                $("#answer").click(function () { 
                    $('#next').attr("disabled", false);
                    if (number ===1 ){
                        let endTimeOne = new Date();
                        var demoTimeOne = Math.round((endTimeOne - startTime1)/1000);
                        if (clicked === ""){
                        clicked = "Answer";
                        $('#id_demo1_button_sequence').val("Get Answer First")
                        $('#id_first_demo').val("No attemps")
                        $('#id_first_demo_time').val(demoTimeOne);
                        }
                        buildGame(answer1);

                    }
                    if (number ===2){
                        let endTimeTwo = new Date();
                        var demonTimeTwo = Math.round((endTimeTwo - startTime2)/1000);
                        if (clicked === ""){
                        clicked = "Answer";
                        $('#id_demo2_button_sequence').val("Get Answer First")
                        $('#id_second_demo').val("No attemps")
                        $('#id_second_demo_time').val(demonTimeTwo);
                        }
                        buildGame(answer2);
                    }
                 });
                function sudokuChecker(array) {
                    if (rowSum(array) && colsum(array) && gridSum(array))
                        return true;
                    return false;
                }

                //function to check if the answer is correct
                function rowSum(array){
                    let isCorrect = true;
                    for (var i = 0; i<4; i++){
                        if(sum(array[i]) !== 10){
                            isCorrect = false;
                            i = 4;
                        }
                    }
                    return isCorrect;
                }
                //check colmun sum
                function colsum(array){
                    let isCorrect = true;
                    for (var i = 0; i <4; i++){
                        if ((array[0][i] + array[1][i] + array[2][i] + array[3][i]) !== 10) {
                            isCorrect = false;
                            i = 4;
                        }
                    }
                    return isCorrect;
                }
                function gridSum(array){
                    let isCorrect = true;
                    for (var i = 0; i <1; i++){
                        if ((array[i][0] + array[i][1] + array[i+1][0] + array[i+1][1] !==10 && array[i][2] + array[i][3] + array[i+1][2] + array[i+1][3] !==10)){
                            isCorrect = false;
                            i = 2;
                        }
                    }
                    for (var i = 2; i <3; i++){
                        if ((array[i][0] + array[i][1] + array[i+1][0] + array[i+1][1] !==10 && array[i][2] + array[i][3] + array[i+1][2] + array[i+1][3] !==10)){
                            isCorrect = false;
                            i = 3;
                        }
                    }
                    return isCorrect;
                 }
                //function to validate input
                function validateInput(array){
                    let valid = false;
                    for (var i=0; i<4; i++){
                            for (var j=0; j<4; j++){
                            if (Number.isInteger(array[i][j]) && array[i][j] >= 1 && array[i][j] <= 4){
                                valid = true
                            }
                            else{
                                valid = false;
                                j = 4;
                                i = 4;
                            }
                        }
                    }
                    return valid;
                };
                //get user imports
                function loadUserBoard() {
                    let result = [new Array(4), new Array(4), new Array(4), new Array(4)];

                    for (var r = 0; r<4; r++){
                        for (var c=0; c<4; c++){
                            let cellid = "#r" + r +"c" +c;
                            let cellValue;
                            if ($(cellid).find("input")[0]){
                                cellValue = $(cellid).find("input").val();
                            }
                            else{
                                cellValue = $(cellid).html();
                            }
                            result[r][c] = parseInt(cellValue);
                        }
                    }
                    return result
                }

                function sum(array){
                    let sum =  0;
                    for (var i in array){
                        sum += array[i]
                    }
                    return sum;
                }

        });
        </script>
{% endblock %}
