{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
        <br/>
        <div dir="rtl" class="card bg-light instructions">
            <!-- <p>Does anyone have a question? </p> -->
            <p dir="rtl">האם למישהו יש שאלה?</p>

            <!-- <p>Fine, the experiment starts.  Please use the same instructions of 4x4 cell puzzles.  The experiment lasts 30 minutes.</p> -->
            <p dir="rtl">טוב – הניסוי מתחיל כעת. אנא השתמש באותן הוראות של פזלים עם 4 על 4 תאים כמו מקודם. הניסוי יימשך 30 דקות.</p>
        </div>
        {% next_button %}
        </div>
    
    

{% endblock %}