{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
        <br/>
        <div dir="rtl" class="card bg-light instructions">
            <!-- <p>
            <span style="font-weight:bold">Remember, your earnings do not depend on how many puzzles you solve correctly or whether you choose instead to visit other websites. </span> 
            At the end, the screen will inform you privately about the number of puzzles you finished correctly and the minutes you spent working on them. 
            This information will not be known to other participant in the room.
            </p> -->
            <p dir="rtl"> <span dir="rtl" style="font-weight:bold">זכור כי הרווח שלך בסוף הניסוי לא תלוי בכמה חידות פתרת נכון או האם בחרת במקום לפתור חידות לבקר אתרים אחרים.</span> בסוף הניסוי, המסך יראה לך כמה חידות פתרת נכון והזמן שלקח לך לעבוד עליהן. מידע זה הוא פרטי ולא ייראה למשתתפים האחרים.</p>
        </div>
        {% next_button %}
        </div>
    
    

{% endblock %}