{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
        <br/>
        <div class="card bg-light instructions">
                <p>
                    As you entered, you were handed a Sudoku puzzle book.  This is ours to keep; and want you to sample it.
                    Under no circumstance you are allowed to write anything on the Sudoku puzzle book during the session.
                </p>
        </div>

        </div>
    
    {% next_button %}

{% endblock %}