{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <style>
        td:first-child {
                border-left:solid;
            }
            td:nth-child(2n) {
                border-right:solid ;
            }
            tr:first-child td {
                 border-top:solid;
            }
            tr:nth-child(2n) td {
                border-bottom:solid ;
            }

            td{
                text-align: center;
                margin-left: 3px;
                height: 45px;
                width: 45px;
                font-size: 30px;
                font-weight: bold;
            }

            input{
                border: darkgray;
                text-align: center;
                margin-left: 3px;
                height: 45px;
                width: 45px;
                font-size: 30px;
                font-weight: bold;
            }
            table{
                width: 250px;
                height: 250px;
            }

            #holder {
                position: relative;
                padding-top: 200px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .container{
                padding-top:40px;
            }


    </style>
        <div class="container">
                <div dir="rtl" class="card bg-light instructions">
                        <!-- <p>Try this example first.  You see below 4x4cells. 
                        You need to place digits 1,2,3,4 in each 2x2 cell. 
                        The rules are that each digit can appear only once</p> -->
                        <p dir="auto"> למטה מופיעים 4 על 4 תאים . משימתך היא להוסיף את הספרות 1,2,3,4 בכל רשת של 2 על 2. החוקים הם שכל ספרה יכולה להופיע רק פעם אחת </p>
                        <!-- <ul>
                            <li>in each 2x2 cell.</li>
                            <li>in each row of four cells.</li>
                            <li>in each column of four cells.</li>
                        </ul>  -->
                        <ol  style="list-style-type: hebrew; direction: rtl">
                            <li dir="rtl">בכל רשת של 2 על 2 תאים, </li>
                            <li dir="rtl">בכל שורה של ארבעה תאים </li>
                            <li dir="rtl">בכל טור של ארבע תאים.</li>
                        </ol>
                </div>
            <br/>
            <h5 dir="rtl" align="center" id="label">נסה את הדוגמא הזאת קודם</h5>
            <br>
        <table dir="ltr" class="sd" border="1" align="center" cellspacing="1">
            <tr>
                <td id="r0c0"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r0c1"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r0c2"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r0c3"><input class="sudoku" type="text" maxlength="1"></td>
             </tr>
            <tr>
                <td id="r1c0"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r1c1"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r1c2"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r1c3"><input class="sudoku" type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td id="r2c0"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r2c1"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r2c2"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r2c3"><input class="sudoku" type="text" maxlength="1"></td>
            </tr>
            <tr>
                <td id="r3c0"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r3c1"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r3c2"><input class="sudoku" type="text" maxlength="1"></td>
                <td id="r3c3"><input class="sudoku" type="text" maxlength="1"></td>
            </tr>
        </table>
        <br>
        <div align="center" >
            <button type="button" id="check">בדוק את תשובתי</button><span>&nbsp</span>
            <button type="button" id="next">ננסה עוד דוגמא </button><span>&nbsp</span>
            <button type="button" id="answer">הראה תשובה</button>
        </div>
            <br>
            <div style="display: none;" id="button"  align="center" >
                {% next_button %}
            </div>
        </div>
        <br>
        <div style="display: none;">
            {{ form.first_demo }}
            {{ form.first_demo_time }}
            {{ form.second_demo }}
            {{ form.second_demo_time }}
            {{ form.demo1_button_sequence }}
            {{ form.demo2_button_sequence }}
        </div>
        </div>

        <script src="{% static "sudoku/demon.js" %}"></script>
{% endblock %}





    