{% extends "global/Page.html" %} {% load otree static %} {% block content %}
<div class="container">
  <div dir="rtl" class="card bg-light instructions">
    <!-- <p>13)	During the 30 minutes, you are welcome to either solve the puzzles or, at any time, choose instead to visit other websites.  Yet visiting other websites implies you are done with the puzzles task.  In every page, there is this reminder: “please do not visit other websites while playing the game, unless you choose to finish the game by clicking the button at the bottom.”</p>
            <p style="font-weight:bold">If you chose to “visit other websites,” it will not affect your earnings that you will be able to collect at the end of the experiment.</p>-->
    <p dir="rtl">
      ) במהלך 30 הדקות הבאות , אתה מוזמן או לפתור עוד חידות או, בכל זמן שהוא,
      לבחור במקום זאת לשוטט באתרים אחרים. אם תבחר לשוטט באתרים אחרים תוכל לחזור
      לחלון של המשחק ולשחק בו באמצעות הכפתור "המשך במשחק".
    </p>
    <p dir="rtl" style="font-weight:bold">
      אם אתה בוחר לשוטט באתרים אחרים , זה לא ישפיע על הרווח שלך אותו תקבל בסוף
      הניסוי.
    </p>
    <p dir="rtl"></p>
  </div>
  {% next_button %}
</div>

{% endblock %}
